- Accessing the web
  - Use IP address

- 1st page (Visitor sign in)
  - Bastian logo
  - Ask for
    - First name (required)
    - Last name (required)
    - Company name (required)
    - Email (optional)
    - Phone number (optional)
    - Employee you are visiting
  - Submit button
    - Verify inputs
    - Email and text the employee
    - Notify that your escort has been notified and should be on his/her way
    
- 2nd page (Admin tools)
  - Password protected
  - Add an employee
  - Remove an employee
  - Show database content (optional)